includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        # Country: la proprietà $type è definita nel fillable e casts, ma PHPStan non la riconosce
        - '#Access to an undefined property PlinCode\\IstatForeignCountries\\Models\\ForeignCountries\\Country::\$type\.#'
